/*
 * -------------------------------------------------
 *  Nextflow config file for running Polish my Reads! on Curta cluster
 * -------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile curta
 */


executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner (default: 100).
    queueSize = 100
    // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second
    submitRateLimit = '1/1sec'

    pollInterval = '10 sec'
    queueStatInterval = '10m'
}


process {

    config_profile_name = 'Curta cluster profile'
    config_profile_description = 'Profile that works well with the Freie University Curta cluster'
    executor = 'slurm'
    queue = 'xxx'
    clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
    cpus = 1
    memory = '2 GB'
    time = '12h'
    beforeScript = 'module load Anaconda3'
    conda = 'path/to/.conda/envs/nf-polish'

    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: 'RAM_high' {
        cpus = 1
        memory = { 12.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 24.h * task.attempt }
    }

    withName: 'merge' {
        conda = '/path/to/.conda/envs/pear'
    }
}



