params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'PROJECTID'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = 2
    memory = '8 GB'
    time = '4h'
    conda = '/path/to/nf-polish/environment.yml'
    withLabel: 'RAM_high' {
        cpus = 8
        memory = '48 GB'
        time = '12h'
    }
    
withName: 'merge' {
        conda = 'hivmmer::pear=0.9.11 conda-forge::pigz=2.6 bioconda::seqkit=0.16.0'
    }
}
